.cart {
  display: grid;
  grid-template-columns: 1fr;
}
.cartItem{

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #cccccc96;
}

.cartItemHeader{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.image{
  max-width: 50%;
  margin: 1rem;
}

@media screen and (max-width: 400px) {
  .image{
   display: none;
  }
  
}

.title{
  max-width: 10rem;
  margin-right: 1rem;
}

.quantityInput {
  width: min(80px, 20vw); /* Độ rộng tối đa 80px, nhưng có thể nhỏ lại khi màn hình nhỏ */
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: .5rem;
}

.cartTotal{
  font-size: 50px;
}

.cartItemActions{
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 400px) {
  .cartItemActions{
    flex-direction: column;
    gap: 0.5rem;
  }
}